@tailwind base;
@tailwind components;
@tailwind utilities;

.header-bg {
    background-image: url("https://res.cloudinary.com/dyh5rcnd1/image/upload/v1722941623/GyanSys_Inc.2_bqz6iv.jpg");
    background-size:cover;
    background-repeat: no-repeat ;
    background-position: center center;
}


  